html,body{
    margin:0%;
    padding:0;
    height:100%;
    width:100%;
    background-color:#fff;

}

/* analog_clock */
#canvas{
    margin-left:33%;
    margin-top:5%;
    width:400px;
    height:400px;
    /* background-color:#333; */
}

/* button */
button-holder{
        margin-left: 50%;
        text-align:center;
        padding-bottom:100px;
}

a.button{
	background-color:#3db685;
    width:100px;
	border:1px solid white;
	border-radius:8px;
	

	box-shadow:0 5px 5px #ccc;

	color:#fff;
	text-decoration: none !important;
	padding:15px 20px;
	display:inline-block;
	cursor:pointer;

	position:relative;
	z-index: 1;
}

a.button:hover{
	opacity:0.9;
}

.alarm-button{
	width: 44px;
	height: 42px;
	vertical-align: middle;
	margin-left: -6px;
	margin-right: -44px;
	display: inline-block;
	background: url('/assets/images/alarm_dark.jpg');
	position: relative;
	z-index: 0;
	cursor: pointer;
}

/* digital Clock */
#MyClockDisplay{
    display: none;
}


.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:#3db685;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

/* Alarm */




#alarm-container {
    margin-left:-35px;
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  color: #3db685
}

label {
	display:inline-block;
}

.timeofday {
    background-color: #eee;
}

.bigger {
    font-weight:bold;
    font-size: 18px;
}

#sounds {
    text-align: center;
    padding-top: 20px;
}

#buttonHolder{
    margin-left: 41%;
	text-align:center;
	padding-bottom:100px;
}
#setButton {
    float:left;
    width:100px;
    height:50px;
    background-color:green;
    border-radius:8px;
    color:white;
    font-weight:bold;
    box-shadow:0 5px 5px #ccc;
    margin-top:10px;
}
#clearButton {
    float:left;
    width:100px;
    height:50px;
    background-color:red;
    box-shadow:0 5px 5px #ccc;
    border-radius:8px;
    color:white;
    font-weight:bold;
    margin-top:10px;
}
